/* About */
#about {
    width:100%;
    height:100%;
}

/* Video */
.h_iframe {
    position:relative; margin-top:102px; margin-bottom:120px;
}
.h_iframe img {
    width:100%;
    opacity:0;
}
.h_iframe .ratio {
    display:block;
    width:100%;
    height:auto;
}
.h_iframe iframe {
    position:absolute;top:0;left:0;width:100%; height:100%;
    border-radius:2px;
    box-shadow:0 1px 4px RGBA(0,0,0,.29);
}

@media (max-width:768px) {
    .h_iframe {
        padding-left:var(--row-gutter);
        padding-right:var(--row-gutter);
        margin-top:80px;
        margin-bottom:80px;
    }
}