/* Partners */
.partners-list {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top:53px;
}

/* Partner */
.partner {
    display: flex;
    flex-direction: column;
    width:33.333%;
    margin-bottom:40px;
}
.partner-wrap {
    position: relative;
}
.partner:nth-child(1) {
    padding-right:20px;
}
.partner:nth-child(2) {
    padding-left:10px;
    padding-right:10px;
}
.partner:nth-child(3) {
    padding-left:20px;
}
.partner:nth-child(4) {
    padding-right:20px;
}
.partner:nth-child(5) {
    padding-left:10px;
    padding-right:10px;
}
.partner:nth-child(6) {
    padding-left:20px;
}
.partner:nth-child(7) {
    padding-right:20px;
}
.partner:nth-child(8) {
    padding-left:10px;
    padding-right:10px;
}
.partner:nth-child(9) {
    padding-left:20px;
}
.partner:nth-child(10) {
    padding-right:20px;
}

/* Partner Image */
.partner-image {
    display: flex;
    flex-shrink: 0;
    width:100%;
    height:170px;
    background-size:cover;
    border-top:1px solid RGBA(0,0,0,.05);
    border-bottom:1px solid RGBA(0,0,0,.05);
    border-radius:2px;
    margin-bottom:12px;
    box-shadow: 0 1px 3px RGBA(0,0,0,.02);
}

/* Partner Title */
.partner-title {
    color:black;
    font-size:18px;
    font-weight:500;
    text-align: center;
}

/* Partner Description */
.partner-description {
    color:black;
    font-size:16px;
    font-weight:400;
    font-style: italic;
    text-align: center;
    margin-top:4px;
}
.partner {
    position:relative; margin-top:0; margin-bottom:33px;
}
.partner img {
    width:100%;
    opacity:0;
}
.partner .ratio {
    display:block;
    width:100%;
    height:auto;
}
.partner iframe {
    position:absolute;top:0;left:0;width:100%; height:100%;
    border-radius:2px;
    box-shadow:0 1px 4px RGBA(0,0,0,.29);
}

@media (max-width:768px) {
    .partners-list {
        flex-direction: column;
        padding-left:15px;
        padding-right:15px;
    }
    .partner {
        width:100%;
        padding-left:0;
        padding-right:0;
    }
    .partner:nth-child(1) {
        padding-right:0;
    }
    .partner:nth-child(2) {
        padding-left:0;
        padding-right:0;
    }
    .partner:nth-child(3) {
        padding-left:0;
    }
    .partner:nth-child(4) {
        padding-right:0;
    }
    .partner:nth-child(5) {
        padding-left:0;
        padding-right:0;
    }
    .partner:nth-child(6) {
        padding-left:20px;
    }
    .partner:nth-child(7) {
        padding-right:0;
    }
    .partner:nth-child(8) {
        padding-left:0;
        padding-right:0;
    }
    .partner:nth-child(9) {
        padding-left:0;
    }
}