
/* contact side */
.contact-side {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width:270px;
}
.side-title {
    color:black;
    font-size:22px;
    font-weight:500;
    margin-bottom:17px;
}
.side-subtitle {
    color:black;
    font-size:18px;
    font-weight:400;
    margin-bottom:20px;
}
.contact-geo {
    margin-top:11px;
    box-shadow:0 1px 3px RGBA(0,0,0,.1);
}

.contact-details {
    display: flex;
    flex-direction: row;
}
/* contact send */
.contact-send {
    display: flex;
    flex-direction: column;
    width:100%;
}
.send-select-label {
    display: flex;
    justify-content: center;
    align-items:center;
    width:100%;
}
.send-select  {
    justify-content: center;
    -webkit-appearance: none;
    height:35px;
    background-color:RGBA(0, 166, 81, .04);
    line-height: 35px;
    padding-left:58px;
    border-radius:1px;
    border:none;
    cursor:pointer;
    transition:.1s all ease-in-out;
    margin-bottom:12px;
}
.send-select:hover  {
    background-color:RGBA(0, 166, 81, .08);
}
.select-chevron {
    display: flex;
    margin-left:0;
    margin-right:auto;
}
input, select {
    font-size:22px;
    font-weight:500;
	outline:none;
}

/* input cmpnts */
.input-cmpnts {
    max-width:600px;
    background-color:RGBA(0,0,0,.02);
    margin:10px auto 0 auto;
}
/* input text */
.input-box {
    width:100%;
    height:48px;
    line-height: 48px;
    color:black;
    font-size:17px;
    font-weight:400;
    background-color:transparent;
    padding:0 10px;
    border:none;
    margin:0 auto;
}

/* input bigbox */
.input-area {
    width:100%;
    height:150px;
    color:black;
    font-size:17px;
    font-weight:400;
    background-color:transparent;;
    border:none;
    padding:0 10px;
    line-height: 48px;
    margin:0 auto;
    resize: none;
}
.options {
    display: flex;
    width:100%;
    background-color:RGBA(237, 237, 237, 1.00);
    justify-content: flex-end;
    padding-top:15px;
}
.button {
    text-align: center;
    cursor:pointer;
}