.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width:100%;
    height:83px;
    background-color:white;
    z-index:1;
}
.navbar-link {
    display: flex;
    color:black;
    font-size:17px;
    font-weight:500;
    text-decoration: none;
    text-shadow:transparent;
    margin:0 34px;
}
.navbar-logo {
    display: flex;
    width:76px;
    margin:0 25px;
}
.navbar-home .navbar-logo {
    filter: brightness(0) invert(1);
}