/* Regular footer */
.footer {
    width:100%;
    background-color: white; 
}

/* Footer Items */
.footer-items {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width:var(--row-width);
    height:70px;
    margin:0 auto;
}

/* Page Links */
.page-links {
    display: flex;
}

/* Page Link */
.page-link {
    color:black;
    font-size:16px;
    font-weight:500;
    text-decoration:none;
    text-shadow:0 1px 0 RGBA(0,0,0,.03);
    margin:0 20px;
}
.page-link:nth-child(1) {
    margin-left:0;
}
/* Social Links */
.social-links {
    display: flex;
}

/* Social Link */
.social-link {
    display: flex;
    flex-direction: row;
    color:black;
    font-size:18px;
    text-decoration: none;
    margin-left:18px;
}

/* Footer Home */
.footer-home {
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: absolute;
    bottom:20px; left:0;
    width:100%;
}
.footer-link {
    color:white;
    font-size: 17px;
    font-weight:500;
    text-decoration: none;
    text-shadow:0 1px 0 RGBA(0,0,0,.4);
    margin:0 12px;
}

@media (max-width:768px) {
    .footer-items {
        flex-direction:column;
        height:auto;
        padding:26px 15px 24px 15px;
    }
    .page-links {
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        margin-bottom:15px;
    }
    .page-link {
        margin:0 9px 14px 9px;
    }
    .social-link {
        margin-left:9px;
        margin-right:9px;
    }
}